

/*
.employee-list {
  width: 100%;
  margin-top: 15px;
}

.employee-list table {
  width: 100%;
  border-collapse: collapse;
}

.employee-list th,
.employee-list td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #aaa;
}

.employee-list th {
  font-weight: bold;
}
*/
.employee-list input[type="checkbox"] {
  cursor: pointer;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vh;
  margin: 0;
}

.employee-list {
  background-color: #d3d3d3;
  border: 1px solid #b0b0b0;
  border-radius: 8px;
  width: 400px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.qualification-create {
  background-color: #d3d3d3;
  border: 1px solid #b0b0b0;
  border-radius: 8px;
  width: 400px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.qualification-create h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.form-section {
  margin-bottom: 15px;
}

.form-section label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-section input {
  width: 100%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.form-section input:focus {
  border-color: #4caf50;
  outline: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.reset-btn,
.save-btn,
.back-btn {
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: opacity 0.3s ease;
}

.reset-btn {
  width: 100px;
  background-color: grey;
  color: white;
}

.back-btn {
  width: 100px;
  background-color: #0056b3;
  color: white;
}

.save-btn {
  background-color: #4caf50;
  color: white;
}

.cancel-btn:hover,
.save-btn:hover,
.back-btn:hover {
  opacity: 0.8;
}
