<div class="employee-list-container">
  <h1>Mitarbeiter Liste</h1>
  <ul>
    <li *ngFor="let e of employees$ | async;">
      <div class="employee-info">
        <span class="employee-name">{{ e.lastName }}, {{ e.firstName }}</span>
        <span class="employee-address">{{ e.street }}, {{ e.city }}</span>
      </div>
      <div class="qualifications">
      <strong>Qualifikationen:</strong>
        <ul *ngIf="e.skillSet && e.skillSet.length > 0; else noQualifications">
          <li *ngFor="let qual of e.skillSet">
            {{ qual.skill }}
          </li>
        </ul>
        <ng-template #noQualifications>
          <p>Keine Qualifikationen vorhanden.</p>
        </ng-template>
    </div>
      <div class="button-group">
        <button class="delete" (click)="deleteEmployee(e.id)">Delete</button>
        <button class="edit" [routerLink]="['/app-employee-edit', e.id]">Edit</button>
      </div>
    </li>
  </ul>
  <button class="back-btn" (click)="BackToMainPage()">Zurück</button>
</div>
