<div>
  <!-- Buttons are visible only when you're authenticated -->
  <button  *ngIf="authenticated" (click)="navigateTo('/create-employees')">Create Employee</button>
  <button  *ngIf="authenticated" (click)="navigateTo('/app-qualification-create')">Create Qualifications</button>
  <button  *ngIf="authenticated" routerLink="/app-employee-list">List Employees</button>
  <button *ngIf="authenticated" (click)="navigateTo('/app-qualification-list')">List Qualification</button>
  <button *ngIf="authenticated" routerLink="/app-employee-edit">Edit Employee</button>
  <button  *ngIf="authenticated" routerLink="/app-qualification-edit">Edit Qualifications</button>
</div>
