<div>
  <button  *ngIf="authenticated" (click)="navigateTo('/create-employees')">Create Employee</button>
  <button  *ngIf="authenticated" (click)="navigateTo('/app-qualification-create')">Create Qualifications</button>
  <button  *ngIf="authenticated" (click)="navigateTo('/app-employee-list')">Manage Employees</button>
  <button *ngIf="authenticated" (click)="navigateTo('/app-qualification-list')">List Qualification</button>
  <button  *ngIf="authenticated" (click)="navigateTo('/app-qualification-edit')">Edit Qualifications</button>
</div>
