<!DOCTYPE html>
  <body>
  <div class="create-employee">
    <link rel="stylesheet" href="employees-create.component.css">

    <form (ngSubmit)="saveEmployee()">
      <div class="heading">
        <h2>Mitarbeiter Bearbeiten</h2>
      </div>

      <div class="form-section">
        <label for="name">Vorname:</label>
        <input id="name" type="text" placeholder="Vorname eingeben"
               [(ngModel)]="employeeName" name="employeeName" required />
      </div>

      <div class="form-section">
        <label for="nachname">Nachname:</label>
        <input id="nachname" type="text" placeholder="Nachname eingeben"
               [(ngModel)]="employeeSurname" name="employeeSurname" required />
      </div>

      <div class="form-section">
        <label for="strasse">Straße:</label>
        <input id="strasse" type="text" placeholder="Straße eingeben"
               [(ngModel)]="employeeStreet" name="employeeStreet" required />
      </div>

      <div class="form-section">
        <label for="plz">PLZ:</label>
        <input id="plz" type="text" placeholder="PLZ eingeben"
               [(ngModel)]="employeePostcode" name="employeePostcode" required />
      </div>

      <div class="form-section">
        <label for="stadt">Stadt:</label>
        <input id="stadt" type="text" placeholder="Stadt eingeben"
               [(ngModel)]="employeeCity" name="employeeCity" required />
      </div>

      <div class="form-section">
        <label for="telefon">Telefon-Nr.:</label>
        <input id="telefon" type="text" placeholder="Telefon-Nr. eingeben"
               [(ngModel)]="employeePhone" name="employeePhone" required />
      </div>

      <div class="buttons">
        <button type="button" class="back-btn" (click)="BackToMainPage()">Zurück</button>
        <button type="button" class="reset-btn" (click)="resetForm()">Reset</button>
        <button type="submit" class="save-btn">Mitarbeiter hinzufügen</button>
      </div>

    </form>
  </div>
  </body>

