<!--<body>
<div class="qualification-container">
  <h2>Qualifikation bearbeiten</h2>

  <div class="form-group">

    <label for="skill">Qualifikation nachträglich einem Mitarbeiter hinzufügen:</label>
    <input type="text" id="skill" [(ngModel)]="Skill" placeholder="Qualifikation eintragen" required />
  </div>


  <div class="employee-list">
    <table>
      <thead>
      <tr>
        <th>Mitarbeiter</th>
        <div class="checkmark">
        <th>✔</th>
        </div>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee?.firstName + " " + employee?.lastName }}</td>
        <td>
          <input
            type="checkbox"
            [checked]="isEmployeeSelected(employee)"
            (change)="toggleEmployeeSelection(employee)"
          />
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="qualification-edit">
    <label for="skill">Qualifikation bearbeiten:</label>
    <input type="text" id="Editskill" [(ngModel)]="EditSkill" placeholder="Qualifikation (bearbeiten)" required />
  </div>

  <div class="qualification-list">
    <table>
      <thead>
      <tr>
        <th>Qualifikationen</th>
        <div class="checkmark">
          <th>✔</th>
        </div>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let qualification of qualifications">
        <td>{{ qualification?.skill}}</td>
        <td>
          <input
            type="checkbox"
            [checked]="isQualificationSelected(qualification)"
            (change)="toggleQualificationSelection(qualification)"
          />
        </td>
      </tr>
      </tbody>
    </table>
  </div>


  <div class="button-group">
    <button type="button" class="back-btn" (click)="BackToMainPage()">Zurück</button>
    <button type="button" class="reset-btn" (click)="resetForm()">Reset</button>
    <button type="button" class="save-btn" (click)="saveQualification()" >Speichern</button>
  </div>
</div>
</body>-->

<div class="qualification-edit-container">
  <form (ngSubmit)="saveQualification()">
    <div class="heading">
      <h2>Qualifikation Bearbeiten</h2>
    </div>

    <div class="form-section">
      <label for="qualifikation">Qualifikation:</label>
      <input id="qualifikation" type="text" placeholder="Qualifikation eingeben"
             [(ngModel)]="qualificationSkill" name="qualificationSkill" required />
    </div>
    <div class="buttons">
      <button type="button" class="cancel-btn"            (click)="resetForm()"                    >Reset</button>
      <button type="button" class="back-btn"              (click)="goBack()"                      >Zurück</button>
      <button type="button" class="back-to-main-page-btn" (click)="BackToMainPage()">Zurück zum Hauptmenü</button>
      <button type="submit" class="save-btn">                                   Qualifikation aktualisieren</button>
    </div>
    <div class="employee-list">
    <table>
      <thead>
      <tr>
        <th>Mitarbeiter</th>
        <th>✔</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee?.firstName + " " + employee?.lastName }}</td>
        <td>
          <input
            type="checkbox"
            [checked]="isEmployeeSelected(employee)"
            (change)="toggleEmployeeSelection(employee)"
          />
        </td>
      </tr>
      </tbody>
    </table>
</div>
  </form>
</div>

